p "Привет, #{@user.email}"
p "Вы купили билет по маршруту #{@ticket.route_name}"
p "Посмотреть билет можно #{link_to 'здесь', @ticket}"
p "Все свои билеты можно посмотреть #{link_to 'здесь', tickets_url}"